@model LoginApp.ViewModels.LoginVM;
@{
    Layout = null;
}

<html>
<head>
    <title>login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>

    <div class="row mt-5 justify-content-center">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    Iniciar sesion
                </div>
                <div class="card-body">
                    <form asp-controller="Acceso" asp-action="Login" method="post">
                        <input class="form-control mb-4" type="text" placeholder="Correo" required asp-for="Correo" />
                        <input class="form-control mb-4" type="password" placeholder="Contraseña" required asp-for="Clave" />
                        <div class="d-grid gap-3 mb-4">
                            <button class="btn btn-primary" type="submit">Iniciar sesion</button>
                        </div>

                        @if (ViewData["Mensaje"] != null)
                        {
                            <div class="alert alert-danger" role="alert">
                                @ViewData["Mensaje"]
                            </div>
                        }
                        ¿Aún no tienes una cuenta? <a asp-controller="Acceso" asp-action="Registro">Registrate Ya!</a>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
